* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font: 16px/1em;
}

h2 {
  font-size: 50px;
  line-height: 50px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

body {
  background: #24c;
}