link(rel='stylesheet', href='/css/hello.css')

h1#title hello
p Welcome to a page with various enhancements made possible by the advanced web technologies called CSS and JavaScript.

script(type='text/javascript', src='/js/hello.js')
