link(rel='stylesheet', href='/css/test-sass.css')
link(rel='stylesheet', href='/css/test-css.css')
script(src='/js/test-coffee.js')
script(src="/js/test-coffee-jsx.js")

h2 metaserve says
h1 hello

#face

include footer
