<li>
    <a href="try.html?name=fred">try.html</a> has a candidate for both <code>.mustache</code> and <code>.jade</code> compilation, but the former is listed first and should be used.
</li>
<li>
    <a href="try2.html">try2.html</a> only has a <code>.jade</code> candidate, so that's all that is attempted for compilation.
</li>
<li>
    <a href="try3.html">try3.html</a> just has a static <code>.html</code> file available.
</li>

